  h1, h2, h3, h4, h5, h6, .eb-garamond-400-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.eb-garamond-600-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .eb-garamond-400-italic {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  
.allcaps {
    text-transform: uppercase;
}
.rf-widetext {
  letter-spacing: 1.5px;
}
  .header-title {
    font-size: 2.5rem;
  }
  
  .header-bg-clouds {
    background-image: url(./assets/clouds_22344bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  body, html {
  height: 100%;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-format{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./assets/clouds_22344bc.jpg');
  min-height: 100%;
}
.bgimg-2 {
  background-image: url('./assets/worship-banner-v3.jpg');
  min-height: 400px;
}
.bgimg-3 {
  background-image: url(./assets/revfell-satmap.jpg);
  min-height: 100%;
}
.bgimg-4 {
  background-image: url(./assets/worship-morning.jpg);
  min-height: 100%;
}

/* @media only screen and (max-device-width: 1000px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}*/


  .logoMark {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

.gmc-bg-lapis {
	background-color: #006db6;
	color: #fff;
}

.gmc-bg-dove {
	background-color: #dcd4cc;
	color: #000;
}

.gmc-bg-royalpurple {
	background-color: #a51890;
	color: #fff;
}
.gmc-bg-gold {
	background-color: #e0a526;
	color: #fff;
}
.gmc-text-gold {
  color: #e0a526;
}
.gmc-bg-scarlet {
	background-color: #f93822;
	color: #fff;
}
.gmc-bg-sage {
	background-color: #007672;
	color: #fff;
}

.gmc-bg-black {
    background-color: black;
    color: white;
}

#home {
    padding: 100px 0px 100px;
}
.rf-py-75 {
    padding: 75px 0px 75px; 
}

.header-btn-group {
    width: 100%; display: flex; flex-wrap: wrap; gap: 1em; box-sizing: border-box; padding-top: 2em;
}


.header-btn-scarlet:hover {
    background-color: #c06359;
}
.header-btn-white {
    padding: 16px 40px;
    text-decoration: none;
    font-weight: bold;
    color:white;
}

.header-btn-white:hover {
    border: 2.5px solid white;
}
.rf-btn {
    padding: 16px 40px;
    text-decoration: none;
    font-weight: bold;
    border: 2.5px solid transparent; /* Set initial border */
}

.rf-btn-white {
    color: white;
}
.rf-btn-black {
    padding: 16px 40px;
    text-decoration: none;
    font-weight: bold;
    border: 2.5px solid transparent;
    color: black;
}

.rf-btn-black:hover {
    
    border: 2.5px solid black;
}

.rf-btn:hover {
    border: 2.5px solid white;
}
.parallax-content {
  height: 400px;
  position: relative;
}

.vertical-center {
      display: flex;
      flex-direction: column; /* Stack children vertically */
      justify-content: center; /* Center children vertically */
      align-items: center; /* Center children horizontally */
      /* Keep the existing absolute positioning styles if they are needed for the container itself */
      position: absolute;
      top: 50%; /* Or your desired top value */
      left: 0; /* Or your desired left value */
      transform: translate(0, -50%); /* Or your desired transform */
      width: 100%; /* Ensure it takes full width if needed */
      height: 100%; /* Ensure it takes full height if needed to center children within it */
    }